
.icon-edit{
  color: gray; /* Default color */
  font-size: 16px; /* Adjust font size as needed */
  transition: color 0.3s; /* Smooth transition for color change */

}
.icon-delete{
  color: gray; /* Default color */
  font-size: 16px; /* Adjust font size as needed */
  transition: color 0.3s; /* Smooth transition for color change */
}
.icon-edit:hover{
  color: rgb(21, 103, 7); /* Default color */
  font-size: 16px; /* Adjust font size as needed */
  transition: color 0.3s; /* Smooth transition for color change */
  transform: scale(1.25);
  

}
.icon-delete:hover{
  color: rgb(180, 19, 19); /* Default color */
  font-size: 16px; /* Adjust font size as needed */
  transition: color 0.3s; /* Smooth transition for color change */
  transform: scale(1.25);
}
.dashboardcard:hover{
 color: 'red';
 transform: scale(1.03);
}
.ant-card-body{
  padding: 0px;
}